@page "/"

@using RenderFragmentCardExample.Components

<PageTitle>Home</PageTitle>

<ThunderCard>
	<p>
		This is a card with a render fragment.  When hovered over, you can see the card become animated!
	</p>
</ThunderCard>